* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  padding: 0px;
  color: rgb(50, 52, 53);

  background: #403b4a;
  background: -webkit-linear-gradient(to right, #e7e9bb, #403b4a);
  background: linear-gradient(to right, #e7e9bb, #403b4a);

  font-family: "kalom", cursive;
  font-weight: 400;
  font-style: normal;
}

/* ///////////// NAVBAR   ////////////// */

.navbar {
  overflow: hidden;
  z-index: 99;
  position: fixed;
  top: 0;
  height: 80px;
  width: 100%;
  /* margin: 2px; */
  border-radius: 10px;
  margin-bottom: 80%;
  background: #403b4a;
  background: -webkit-linear-gradient(to right, #e7e9bb, #403b4a);
  background: linear-gradient(to right, #e7e9bb, #403b4a);
  /* position: relative; */
}

.navbar-brand {
  font-size: 40px;
}

#UserInput {
  height: 50px;
  width: 150%;
}

main {
  height: 100vh;
  width: auto;
}

.container {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  justify-content: center;
}

#title {
  margin: 20px;
}

#UserContainer {
  display: block;
  margin-top: 50px;
  margin-bottom: 80px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

#OutPutContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 8fr);
  column-gap: 10px;
  row-gap: 2em;
  margin-bottom: 80px;
  margin-top: 80px;
  overflow: hidden;
}

#OutPutContainer img {
  margin-bottom: 20px;
  height: auto;
  width: 99%;
  /* background-image: url("landscape.jpg"); */
  background-repeat: no-repeat;
  padding: auto;
  max-width: 100%;
  object-fit: contain;
  /* background: #f1eeeeb4; */
  border: #d9d1d16b solid 3px;
  border-radius: 20px;
  display: flex;
  margin-bottom: 40px;
  justify-content: center;
  transition: 0.5s ease-in-out;
  border: solid rgb(255, 248, 234) 2px;
  margin-top: 145px;
}

#OutPutContainer img:hover {
  border: solid rgb(8, 11, 1) 2px;
  transform: translateY(-5px);
}

/* for videos  */

#OutPutContainer video {
  height: 100%;
  width: 99%;
  max-width: 100%;
  object-fit: contain;
  border: #d9d1d16b solid 3px;
  border-radius: 20px;
  display: flex;
  margin-bottom: 40px;
  justify-content: center;
  border: solid rgb(255, 248, 234) 2px;
  display: grid;
  grid-template-columns: repeat(3, 8fr);
  column-gap: 10px;
  row-gap: 2em;
  /* margin-top: 30%; */
  margin-bottom: 30%;
  transition: 0.5s ease-in-out;
  margin-top: 145px;
}

#OutPutContainer video:hover {
  border: solid rgb(8, 11, 1) 2px;
  transform: translateY(-5px);
}

@media screen and (max-width: 420px) {
  .container {
    width: 80%;
    min-width: 100%;
    height: auto;
    margin-top: 20px;
    align-items: center;
    text-align: center;
    margin: 0 auto;

    /* padding: 10px; */
  }

  #UserContainer {
    width: 100%;
    max-width: 150%;
    height: auto;
    margin-top: 50px;
  }

  #title {
    font-size: 1rem;
  }

  .navbar {
    height: 15%;
    margin-bottom: 45%;
  }

  .navbar-brand {
    margin: 0 auto;
    font-size: 20px;
  }

  #UserInput {
    height: 40px;
    width: 50%;
    margin-left: 10px;
    margin: 10 50px;
  }

  #submitBtn {
    font-size: 10px;
    height: 35px;
    width: 20%;
    margin: 13px 9px;
  }

  #OutPutContainer {
    justify-content: center;
    margin: 10px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    height: auto;
    display: grid;
    margin-top: 135px;
    grid-template-columns: repeat(1, 1fr);
  }

  #OutPutContainer img {
    height: 80%;
    width: 100%;
  }

  #OutPutContainer video {
    height: 80%;
    /* width: 100%; */
  }
}

@media screen and (min-width: 760px) {
  #OutPutContainer {
    justify-content: center;
    margin: 10px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    height: auto;
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(3, 10fr);
  }

  #OutPutContainer video {
    display: flex;
    justify-content: center;
  }
}
