* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0px;
  padding: 0px;
  color: rgb(50, 52, 53);

  background: #403b4a;
  background: -webkit-linear-gradient(to right, #e7e9bb, #403b4a);
  background: linear-gradient(to right, #e7e9bb, #403b4a);

  font-family: "kalom", cursive;
  font-weight: 400;
  font-style: normal;
}

/* ///////////// NAVBAR   ////////////// */

.navbar {
  overflow: hidden;
  z-index: 99;
  position: fixed;
  top: 0;
  height: 70px;
  width: 100%;
  /* margin: 2px; */
  border-radius: 10px;
  margin-bottom: 80%;
  background: #403b4a;
  background: -webkit-linear-gradient(to right, #e7e9bb, #403b4a);
  background: linear-gradient(to right, #e7e9bb, #403b4a);
  /* position: relative; */
  padding-bottom: 70px;
  border-bottom: solid 2px white;
}

.navbar-brand {
  font-size: 40px;
}

#UserInput {
  height: 35px;
  width: 550%;
}

#submitBtn {
  height: 35px;
  width: 50%;
}

main {
  height: 100vh;
  width: auto;
}

.container {
  width: auto;
  height: auto;

  justify-content: center;
}

#title {
  margin-top: 12%;
  /* margin-bottom: -15%; */
}

#clearbtn {
  padding: 5px;
  border-radius: 8px;
  margin-bottom: 50px;
  /* margin: 20px; */
}

/* #UserContainer {
  display: block;
  margin-top: 50px;
  margin-bottom: 80px;
  align-items: center;
  text-align: center;
  justify-content: center;
} */

#OutPutContainer {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 8fr);
  column-gap: 10px;
  row-gap: 2em;
  margin-top: 280px;
  overflow: hidden;
}

#OutPutContainer img {
  height: auto;
  width: 99%;
  background: #fffefe84;
  background-repeat: no-repeat;
  padding: auto;
  max-width: 100%;
  object-fit: contain;
  border: #d9d1d16b solid 3px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  transition: 0.5s ease-in-out;
  border: solid rgb(255, 248, 234) 2px;
  aspect-ratio: 3/2;
  object-fit: contain;
  margin-bottom: 5px;
  filter: drop-shadow(0 0 0.75rem rgb(48, 43, 44));
}

#OutPutContainer img:hover {
  border: solid rgb(8, 11, 1) 2px;
  transform: translateY(-5px);
}

/* for videos  */

#OutPutContainer video {
  height: 100%;
  width: 99%;
  max-width: 100%;
  object-fit: contain;
  background-color: #fbfffbce;
  border-radius: 20px;
  display: flex;
  margin-bottom: 90px;
  justify-content: center;
  /* border: solid rgb(255, 248, 234) 2px; */
  display: grid;
  grid-template-columns: repeat(3, 8fr);
  transition: 0.5s ease-in-out;
  margin-top: 75px;
}

#OutPutContainer video:hover {
  border: solid rgb(8, 11, 1) 2px;
  transform: translateY(-5px);
}

@media screen and (max-width: 420px) {
  .container {
    width: 80%;
    min-width: 100%;
    height: auto;
    margin-top: 20px;
    align-items: center;
    text-align: center;
    margin: 0 auto;

    /* padding: 10px; */
  }

  #UserContainer {
    width: 100%;
    max-width: 150%;
    height: auto;
    margin-top: 50px;
  }

  #title {
    font-size: 1rem;
  }

  .navbar {
    height: 20%;
    margin-bottom: 5%;
    padding-bottom: 50px;
    border-bottom: solid 2px white;
  }

  .navbar-brand {
    margin: 0 auto;
    font-size: 20px;
  }

  #UserInput {
    height: 40px;
    width: 50%;
    margin-left: 10px;
    margin: 10 50px;
  }

  #submitBtn {
    font-size: 10px;
    height: 35px;
    width: 20%;
    margin: 12px 9px;
  }

  #title {
    margin-top: 50%;
  }

  #OutPutContainer {
    justify-content: center;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    height: auto;
    display: grid;
    margin-top: 15px;
    margin-bottom: 50%;
    grid-template-columns: repeat(1, 10fr);
  }

  #OutPutContainer img {
    height: 52%;
    max-width: 100%;
    margin-bottom: 260px;
    background-color: #e7e9bb;
  }

  #OutPutContainer video {
    height: 80%;
    margin-top: 40px;
    background-color: #e7e9bb;
  }
}

@media screen and (min-width: 760px) {
  #OutPutContainer {
    justify-content: center;
    margin: 10px;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
    height: auto;
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(3, -80px);
  }

  #OutPutContainer video {
    display: flex;
    justify-content: center;
  }
}
